<div class="row">  
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div class="alert alert-danger">
        {% for msg in errors %}
        <p>{{ msg }}</p>
        {% endfor -%}
    </div>
    {% endif %}
    {% endwith %}

    {% with success = get_flashed_messages(category_filter=["success"]) %}
    {% if success %}
    <div class="alert alert-success">
        {% for msg in success %}
        <p>{{ msg }}</p>
        {% endfor -%}
    </div>
    {% endif %}
    {% endwith %}

    {% if form.errors %}
        <div class="alert alert-danger">
            {% for type,error in form.errors.items() %}
                <p>{{ error|join('') }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>