<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <title>Upload your images</title>
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css" />
    <!-- <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" /> -->
    <!-- <link href="{{ url_for('static', filename='css/flatty.min.css') }}" rel="stylesheet" type="text/css" /> -->
    {% if theme %}
        {% if theme == "flatty" %}
            <link href="{{ url_for('static', filename='css/flatty.min.css') }}" rel="stylesheet" type="text/css" />
        {% elif theme == "solar" %}
            <link href="{{ url_for('static', filename='css/solar.min.css') }}" rel="stylesheet" type="text/css" />
        {% elif theme == "darkly" %}
            <link href="{{ url_for('static', filename='css/darkly.min.css') }}" rel="stylesheet" type="text/css" />
        {% elif theme == "superhero" %}
            <link href="{{ url_for('static', filename='css/superhero.min.css') }}" rel="stylesheet" type="text/css" />
        {% endif %}
    {% else %} {# Default theme if no cookie set #}
        <link href="{{ url_for('static', filename='css/flatty.min.css') }}" rel="stylesheet" type="text/css" />
    {% endif %}

    
    <link href="{{ url_for('static', filename='css/fileinput.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/bootstrap-gallery.css') }}" rel="stylesheet" type="text/css" />
</head>